.logInpage{
    color: #063230;
}


.products-hero{
    background-image: url(../../assets/photo-1595588982209-5c45ceb4f350.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }